<section class="border-white/20 border-y">
  <div class="text-white mx-auto">
    <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
      <div class="w-full justify-between grid">
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
        </div>
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
        </div>
      </div>
      <div
        class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
        <a href="https://www.blog.ikhode.site/">Blog.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://www.facebook.com/Ikhodestation">FB.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://www.youtube.com/@MyKhode">youtube.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="www.github.ikhode.site">Github.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://x.com/ikhode_kh">X.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://tiktok.com/ikhode_kh">TikTok.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://www.artstation.com/ikhode">Artstation.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://www.linkedin.com/in/ikhode-kh">LinkedIn.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="www.ig.ikhode.site">IG.Ikhode.Site</a>
        <span class="hidden lg:inline">✺</span>
        <a href="https://ikhode.site/">Ikhode.Site</a>
      </div>
    </div>
  </div>
</section>
