<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Ikhode Site not just provides Src.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        our vision is not just to share resource, but the last 2 years we
        develope game were 4 project, completed 1. and now we have 3 project in
        hand which we going to finish giant project is Open World Racing game
        with traffic simulator in the next years. if have no issue, we think it
        should be lunch in the middle of the 2025. sit back, relax, enjoy the
        show!
      </p>
    </div>
  </div>
</section>
