<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        our services; Explained
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0"
    >
      <div>
        <a href="https://github.com/Ikhode-Technologies">
          <div>
            <span class="text-white font-display text-xl"
              >Game Development &amp; Mechanics:</span
            >
          </div>
        </a>
        <p class="mt-3 text-eagle">
          As a passionate game developer, I specialize in creating immersive
          game mechanics and engaging level designs. My work is focused on
          crafting experiences that captivate players and bring virtual worlds
          to life. Explore my projects on GitHub to see my contributions to the
          gaming industry.
        </p>
      </div>
      <div>
        <a href="https://blog.ikhode.site">
          <div>
            <span class="text-white font-display text-xl"
              >Game Asset Modeling &amp; Design:</span
            >
          </div>
        </a>
        <p class="mt-3 text-eagle">
          I also delve into game asset modeling, creating high-quality 3D models
          and textures that enhance the visual appeal of games. My blog posts
          offer insights, tutorials, and resources for game developers looking
          to improve their asset creation skills.
        </p>
      </div>
      <div>
        <a href="https://youtube.com/@MyKhode">
          <div>
            <span class="text-white font-display text-xl"
              >Multiplayer Solutions &amp; AI:</span
            >
          </div>
        </a>
        <p class="mt-3 text-eagle">
          Exploring the realms of multiplayer solutions and AI in gaming, I work
          on integrating intelligent behavior and seamless multiplayer
          experiences into games. My online courses provide a deep dive into
          these complex topics, helping others to learn and apply these
          technologies.
        </p>
      </div>
      <div>
        <a href="http://github.com/MyKhode">
          <div>
            <span class="text-white font-display text-xl"
              >Innovative Tech &amp; Knowledge Sharing:</span
            >
          </div>
        </a>
        <p class="mt-3 text-eagle">
          At the intersection of innovation and technology, I aim to be a
          resource provider, sharing knowledge and materials that push the
          boundaries of what's possible in gaming and web development. Check out
          my open-source projects and resources on GitHub, where I contribute to
          the growth of the developer community.
        </p>
      </div>
    </div>
  </div>
</section>
