<div
  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2"
>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#ed642c]">
      I'm a game developer and Software Engineering student who a passionate on
      game mechanics and level design. I’m also exploring multiplayer solutions
      and game asset modeling. you can find any resource in my blog post or git repo. if u want to share any resource, contact me! ok?👌
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">SOY TET</span>
      <span class="block text-eagle">Founder of Ikhode Technologies</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#ed772f]">
      Hi, I'm the founder of bongrean.com, a platform where users can create and
      share blog posts and access video courses. I'm also a Software Engineering
      student with a focus on AI and ML, and I'm passionate about sharing
      valuable knowledge through online courses.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">SOY VITOU</span>
      <span class="block text-eagle">Founder of bongrean.com</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#ef9335]">
      Ethan has been an invaluable asset in the realm of design, and I struggled
      to keep pace with his work speed during our collaboration. His designs are
      sleek, and he consistently delivers substantial value; he continuously
      refines his designs and introduces enhancements.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">?? ?? ??</span>
      <span class="block text-eagle">Co-Founder of Ikhode Technologies</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-eagle">
      Andrew stands out as a distinctive blend of designer and developer who
      comprehends business requirements. He utilized his prior experience to
      swiftly create multiple landing pages for SparkLynx.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">?? ?? ??</span>
      <span class="block text-eagle">Co-Founder of Ikhode Technologies</span>
    </div>
  </div>
</div>
