---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<!doctype html>
<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <BaseHead
      title="Ikhode Technolgies"
      description="Ikhode Site provide any resource in indie game development field with scripts, materials, 3d model with our community. thanks"
      author="soy tet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Add structured data for the website -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "ikhode",
        "url": "https://ikhode.site",
        "description": "Ikhode Site provide any resource in indie game development field with scripts, materials, 3d model with our community.",
        "author": {
          "@type": "Organization",
          "name": "Ikhode Technolgies"
        }
      }
    </script>
  </head>
  <body class="mx-auto bg-black 2xl:max-w-7xl">
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
